VITE_BASE_URL=/OSU_Capstone_Asset_Checking_System/ # for github pages, replace with '/' for local development
VITE_PUBLIC_LANDING_ONLY=true # set to true to only show the public landing page, false to show all pages. Will default to false if not set.