/* App.css */

@import "tailwindcss";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@layer theme, base, components, utilities;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

{ /* Variables */  }

@theme {
    --color-wu-red-100: rgb(105, 3, 35);
    --color-wu-red-200: rgb(88, 0, 27);
    --color-wu-red-300: rgb(62, 2, 20);
    --color-wu-yellow-100: rgb(224, 171, 76);
    --color-wu-gray-100: rgb(255, 255, 255);
    --color-wu-gray-200: rgb(226, 228, 219);
    --color-wu-gray-300: rgb(124, 135, 142);
    --color-wu-gray-400: rgb(36, 36, 36);
    --color-wu-gray-500: rgb(26, 26, 26);

    --font-sans: ui-sans-serif system-ui, sans-serif;
    --font-serif: libre-baskerville-regular, normal, serif;
    --font-mono: jetbrains-mono-400, normal, monospace;
}

{/* Font */}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.jetbrains-mono-400 {
     font-family: "JetBrains Mono", monospace;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
}
